@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee Management System</h1>
    <p class="lead">Manage your employees efficiently and effectively.</p>

    <div class="mt-4">
        <a class="btn btn-primary btn-lg" <a asp-controller="Employees" asp-action="Index">View Employee List</a>
    </div>
</div>
